<template name ="leaderboard">

  <!-- Modal (modal is being rendered in 'home' template)-->
  <div class="modal fade" id="myModalSearching" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog" id="customModal">     
            
        <!-- <div class="modal-header"> -->
          <div class="closingSearchAlign">
           <div class="closingSearch">
            <a href="#" data-dismiss="modal">X <span class="esc">[esc]</span></a> 
          </div>
        </div>
        <div class="centerSearchContainer">
          {{#unless inputIsNotEmpty}}
          <div class="searchListings"> Search all listings. </div>
          {{/unless}}
          <div class="searchTopMargin">
            {{#ifEsIsSearching index="postsSearch" id="search" logic="OR" }}
            <i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
            {{else}}
            <i class = "glyphicon glyphicon-search bottomSearch"></i>
            {{/ifEsIsSearching}}
            <div class="search-input">
              {{> esInput index="postsSearch" id="srch-termModal" convertnumber=true}}
            </div>
          </div>
        </div>
      <!-- </div> -->
    

    <div class="section group">
     {{#if inputIsNotEmpty}}
     {{#esEach index="postsSearch" id="search" options=esOptions}}
     <div class="col span_1_of_2"> 
      <div class="searchSpacing"><div class="overflow">{{> player}}</div> </div>
    </div>
    {{/esEach}}

    {{#ifEsHasNoResults index="postsSearch" id="search" logic="OR" }}
    <div class="noResults"> No listings found, try again? </div>
    {{/ifEsHasNoResults}}
    {{/if}}
  </div>

</div>
</div> 

</template>


<template name="player">
<div class="postContent">
<div class="date">
        <span><div id="month"> {{month}}</div> <p style="margin: 0px; font-size: 26px; line-height: 1; font-weight: 100"> {{day}} </p></span>
        <!-- <p style="margin: 0px">{{day}} <span> {{month}} </span></p> -->
</div>

  <div class="postsSearch">
    <div class="searchContent">
      <div class="iconSearch">
        {{#if forSaleC}}
        <i class="fa fa-shopping-cart" style="font-size: 2.5em"></i>
        {{else}}
        {{#if housingC}}
        <i class="fa fa-home" style="font-size: 2.5em"></i>
        {{else}}
        {{#if communityC}}
        <i class="fa fa-2x fa-users" style="font-size: 2.5em"></i>
        {{else}}
        <i class="fa fa-2x fa-briefcase" style="font-size: 2.5em"></i>
        {{/if}}
        {{/if}}
        {{/if}}  
      </div>
      <h3 class="searchTitle"><a href="{{pathFor 'postPage'}}" data-dismiss="modal">{{title}}</a></h3>
      <div class="searchDescription">{{description}}</div>
    
    </div>
  </div>
  </div>
</template>
