<template name = "searchOverlay">
  <!-- open/close -->
  <div class="overlay overlay-corner">
    <button type="button" class="overlay-close">Close</button>
    
    <div class="centerSearchContainer">
      {{#unless inputIsNotEmpty}}
      <div class="searchListings"> Search all listings. </div>
      {{/unless}}
      <div class="searchTopMargin">
        {{#if isSearching}}
        <i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
        {{else}}
        <i class = "glyphicon glyphicon-search bottomSearch"></i>
        {{/if}}
        <div class="search-input">
          <input type="text" id="srch-termModal" name="term" value="{{term}}">
        </div>
      </div>
    </div>
    <!-- </div> -->
    
    <div class="section group bodySearchSpacing">
     {{#each postsWithRank}}
     <div class="col span_1_of_2"> 
      <div class="searchSpacing"><div class="overflow">{{> player}}</div> </div>
    </div>
    {{/each}}
    </div>

    {{#if moreResults}}
    <div class="loadMoreSearchContainer">
      {{> loadMoreSearch}}
    </div>
    {{/if}}

  {{#if noResults}}
  <div class="noResults"> No listings found, try again? </div>
  {{/if}}
</div>
</template>

<template name ="loadMoreSearch">
  <a class="btn btn-default"> See more </a>
</template>




<template name="player">
  <div class="postContent">
    <div class="date">
      <span><div id="month"> {{month}}</div> <p style="margin: 0px; font-size: 26px; line-height: 1; font-weight: 100"> {{day}} </p></span>
      <!-- <p style="margin: 0px">{{day}} <span> {{month}} </span></p> -->
    </div>

    <div class="postsSearch">
      <div class="searchContent">
        <div class="iconSearch">
          {{#if forSaleC}}
          <i class="fa fa-shopping-cart" style="font-size: 2.5em"></i>
          {{else}}
          {{#if housingC}}
          <i class="fa fa-home" style="font-size: 2.5em"></i>
          {{else}}
          {{#if communityC}}
          <i class="fa fa-2x fa-users" style="font-size: 2.5em"></i>
          {{else}}
          <i class="fa fa-2x fa-briefcase" style="font-size: 2.5em"></i>
          {{/if}}
          {{/if}}
          {{/if}}  
        </div>
        <h3 class="searchTitle"><a href="{{pathFor 'postPage'}}" data-dismiss="modal">{{title}}</a></h3>
        <div class="searchDescription">{{description}}</div>
        
      </div>
    </div>
  </div>
</template>
