<template name="postSubmit">
{{postContext}}
<div class = "titlePost">
     <h3 class = "postPageTitle">Submit a Listing</h3>
        <p class = "postPageTitle"> And put an end to asking everyone you know for everything</p>
        </div>
  <form class="mainPostPage">
   
    <div class="control-group">
        <label class="control-label" for="title"></label>
        <div class="controls">
            Category
            <input name="title" type="text" value="" placeholder=""/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="authors">Reply-To Name(s)</label>
        <div class="controls">
            <input name="authors" type="text" value="" placeholder=""/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="emails">Reply-To Email(s)</label>
        <div class="controls">
            <input name="emails" type="text" value="" placeholder=""/>
        </div>
    </div>



    <div class="control-group">
        <label class="control-label" for="category">Category for Post</label>
        <div class="controls">
            <input name="category" type="text" value="" placeholder=""/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="price">Price</label>
        <div class="controls">
            <input name="price" type="text" value="" placeholder=""/>
        </div>
    </div>

   <div class="control-group">
        <label class="control-label" for="description">Description</label>
        <div class="controls">
            <textarea name="description" type="text" value=""></textarea>
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>

