<template name="postContinue">
<!--main-->
 <div class="container containerPostPage">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class = "postTitle">{{ title }}</h1>

                <!-- Author -->
                <p class="lead postTitle">
                    posted by <a href="#">{{authors}}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
                
<hr>
                <!-- Preview Image -->
                <!-- thumb navigation carousel -->

<!-- main slider carousel -->

                

                <!-- Post Content -->

                <p class="lead">Description</p>
                <p>{{description}}</p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                

                <!-- Posted Comments -->

                <!-- Comment -->
               

                <!-- Comment -->
                

            </div>

            <!-- Blog Sidebar Widgets Column -->
      

        </div>
        <!-- /.row -->


        <!-- Footer -->
        
   
   
      <!--right-->
      
        
        <p>
  
         
          {{> gallery }}
        </p>
  
        <!--/right-->

</div><!--/container-->
</template>

<template name="gallery">
  <p class="lead">Add Images</p>
    <div class="container panel panel-default dragDropDiv">
    
      
    <div class="panel-body fileDrop">
      <div class="row equal">
        {{#each dataEntries}}
          <div class="col-sm-6 col-lg-2">
            <button type="button" class="close del-file" aria-hidden="true">&times;</button>
            <div class="thumbnail">
              {{#if isImage}}
                <a href="{{link}}"><img class="img-thumbnail" alt="[ preview of {{shortFilename 16}} will display here ]" src="{{link}}" width="150"></a>
                <div class="caption text-center"><a href="{{link}}?download=true">{{shortFilename 16}}</a></div>
              {{else}}
                <span class="text-muted text-center">No preview</span>
              {{/if}}
            </div>
            {{#if length}}
              
            {{else}}
              {{uploadStatus}}
              <div class="progress">
                <div class="progress-bar" role="progressbar" min-width="60px" aria-valuenow="{{uploadProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress}}%;">
                    <span class="text-muted">{{uploadProgress}}%</span>
                </div>
              </div>
            {{/if}}
          </div>
        {{else}}
          <div class="col-sm-12">
            <div class="container dottedDragDropDiv">
              <p class="lead text-info text-center ">Drag some image files here to upload</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="control-group">
        <div class="controls">
            <input id= "submitPost" type="submit" value="Submit" class="btn btn-primary"/>
        </div>
  </div>

</template>



