<template name="postSubmit">
    {{postContext}}
    <div class = "titlePost">
       <h3 class = "postPageTitle">Submit a Listing</h3>
       <p class = "postPageTitle"> And stop asking everyone you know for everything</p>
   </div>
   <div class="mainPostPage"> 

     <div class="control-group">
        <div class="div2">
            <div class = "sub1-2">
                Category
            </div>
        </div>
        <div class="div3">
            <div class="div4">
                <button class = "buttonListings dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle" id ="listingDropdown"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;For Sale</a>
                  <div class="dropdown-menu multi-column">
              <div class="container-fluid">
                <div class="row-fluid">
                  <div class="span6">
                    <ul class="dropdown-menu" id="menu1">
                        <li>
                        {{#each forSale1}}
                        <a role="menuitem" tabindex="-1" href="#">{{> listingPostSubmit}}</a>
                        {{/each}}  
                    </li>
                    </ul>
                  </div>
                  <div class="span6">
                    <ul class="dropdown-menu" id="menu1">
                      <li>
                      {{#each forSale2}}
                        <a role="menuitem" tabindex="-1" href="#">{{> listingPostSubmit}}</a>
                        {{/each}}
                    </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            </button>
            <button class = "buttonListings dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle" id ="listingDropdown"><i class="fa fa-home"></i>&nbsp;&nbsp;Housing</a>
                  <ul class="dropdown-menu" id="menu1">
                    <li role="presentation">
                        {{#each housing}}
                        <a role="menuitem" tabindex="-1" href="#">{{> listingPostSubmit}}</a>
                        {{/each}}
                    </li>
                </ul>
            </button>
            <button class = "buttonListings dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle" id ="listingDropdown"><i class="fa fa-users"></i>&nbsp;&nbsp;Community</a>
                  <ul class="dropdown-menu" id="menu1">
                    <li role="presentation">
                        {{#each community}}
                        <a role="menuitem" tabindex="-1" href="#">{{> listingPostSubmit}}</a>
                        {{/each}}
                    </li>
                </ul>
            </button>
            <button class = "buttonListings dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle" id ="listingDropdown"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;Jobs</a>
                  <ul class="dropdown-menu" id="menu1">
                    <li role="presentation">
                        {{#each jobs}}
                        <a role="menuitem" tabindex="-1" href="#">{{> listingPostSubmit}}</a>
                        {{/each}}
                    </li>
                </ul>
            </button>
        </div>
    </div>
</div>

<div class="control-group">
        <div class="div2">
            <div class = "sub1-2">
                Title
            </div>
        </div>
        <div class="div3">
            <input name="emails" type="text" value="" placeholder=" Acct. 102 Textbook, Roommate Wanted..." class = "inputPost"/>
    </div>
</div>

<div class="control-group">
        <div class="div2">
            <div class = "sub1-2">
                Description
            </div>
        </div>
        <div class="div3">
            <input name="emails" type="text" value="" placeholder="" class = "inputPost"/>
    </div>
</div>

<div class="control-group">
        <div class="div2">
            <div class = "sub1-2">
                Price
            </div>
        </div>
        <div class="div3">
            <input name="emails" type="text" value="" placeholder="" class = "inputPost"/>
    </div>
</div>

<div class="control-group">
        <div class="div2">
            <div class = "sub1-2">
                Reply-To Name
            </div>
        </div>
        <div class="div3">
            <input name="emails" type="text" value="" placeholder="" class = "inputPost"/>
    </div>
</div>

<div class="control-group">
        <div class="div2">
            <div class = "sub1-2">
                Reply-To Email
            </div>
        </div>
        <div class="div3">
            <input name="emails" type="text" value="" placeholder="" class = "inputPost"/>
    </div>
</div>
</div> 

</template>
