<template name="postContinue">
<!--main-->
<div class="container">
  <div class="row">
   
   
      <!--right-->
      <div class="col-md-9">
        <h2 id="sec1"> 
          <div class="listingPageHeader">
           <div style= "text-transform:capitalize">{{category}} </div> 
           <div class="smallListings"> &nbsp; listings &nbsp;</div>
           -> {{title}} </div>
        </h2>
        <p>
  
          {{> postItemPostContinue}}
          {{> gallery }}
        </p>
  
        </div><!--/right-->
    </div><!--/row-->
</div><!--/container-->
</template>

<template name="gallery">
    <div class="container panel panel-default">
    <div class="panel-heading"><h4>Add Images</h4></div>
    <div class="panel-body fileDrop">
      <div class="row equal">
        {{#each dataEntries}}
          <div class="col-sm-6 col-lg-2">
            <button type="button" class="close del-file" aria-hidden="true">&times;</button>
            <div class="thumbnail">
              {{#if isImage}}
                <a href="{{link}}"><img class="img-thumbnail" alt="[ preview of {{shortFilename 16}} will display here ]" src="{{link}}" width="150"></a>
                <div class="caption text-center"><a href="{{link}}?download=true">{{shortFilename 16}}</a></div>
              {{else}}
                <span class="text-muted text-center">No preview</span>
              {{/if}}
            </div>
            {{#if length}}
              
            {{else}}
              {{uploadStatus}}
              <div class="progress">
                <div class="progress-bar" role="progressbar" min-width="60px" aria-valuenow="{{uploadProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress}}%;">
                    <span class="text-muted">{{uploadProgress}}%</span>
                </div>
              </div>
            {{/if}}
          </div>
        {{else}}
          <div class="col-sm-12">
            <div class="container">
              <p class="lead text-info text-center ">No images added, drag some image files here to upload</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="control-group">
        <div class="controls">
            <input id= "submitPost" type="submit" value="Submit" class="btn btn-primary"/>
        </div>
  </div>

</template>



