<template name ="application">
	
	<div class="section group" style = "list-style: none">
		<div class="col span_1_of_4">
			<h3 class ="titles">For Sale</h3>
			{{#each forSale}}
			  {{> listingItem}}
			{{/each}}
			
		</div>
		<div class="col span_1_of_4">
			<h3 class ="titles">Housing</h3>
			{{#each housing}}
			  {{> listingItem}}
			{{/each}}


		</div>
		<div class="col span_1_of_4">
			<h3 class ="titles">Community</h3>
			{{#each community}}
			  {{> listingItem}}
			{{/each}}
		</div>
		<div class="col span_1_of_4">
			<h3 class ="titles">Jobs</h3>
			{{#each jobs}}
			  {{> listingItem}}
			{{/each}}
		</div>
	</div>


</template>