<template name = "home">

   {{> topBar}}

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Communify</h1>
                        <p class="intro-text">Centering the community</p>
                        <div class="page-scroll">
                         Sign up
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> listingsList}}

</template> 