<!-- <template name ="homesearch" style="background-color: gray">
	{{> leaderboardHome}}
</template>

<template name="leaderboardHome">
    <div class="search-input">
        {{> esInput index="postsSearch" id="search" placeholder="Search listings" convertnumber=true }}
    </div>

    {{#ifEsIsSearching index="postsSearch" id="search" logic="OR" }}
        <div>Searching...</div>
    {{/ifEsIsSearching}}

    <div class="leaderboard">
        {{#if inputIsNotEmpty}}
            {{#esEach index="postsSearch" id="search" options=esOptions}}
                {{> playerHome}}
            {{/esEach}}

            {{#ifEsHasNoResults index="postsSearch" id="search" logic="OR" }}
                <div class="no-results">No results found!</div>
            {{/ifEsHasNoResults}}
        {{else}}
            <div class="please-search">Search for a name (e.g. Peter)</div>
        {{/if}}
    </div>

  {{#if selected_name}}
  <div class="details">
    <div class="name">{{selected_name}}</div>
    <input type="button" class="inc" value="Give 5 points" />
  </div>
  {{/if}}

  {{#unless selected_name}}
  <div class="none">Click a player to select</div>
  {{/unless}}
  
  <button class="show-autosuggest">Show Autosuggest</button>
  {{#if showAutosuggest}}
      <h2>Autosuggest Demo</h2>
      {{> esAutosuggest index="postsSearch" id="autosuggest" }}
  {{/if}}
</template>

<template name="playerHome">
  <div class="player {{selected}}">
    <span class="name">{{title}}</span>
    <span class="score">{{description}}</span>
  </div>
</template>
 -->