<template name="postPage">

<!--main-->
<div class="container">
	<div class="row">
   
     {{> leftBarPostPage}}
   
      <!--right-->
      <div class="col-md-9">
        <h2 id="sec1"> 
          <div class="listingPageHeader">
           <div style= "text-transform:capitalize">{{category}} </div> 
           <div class="smallListings"> &nbsp; listings &nbsp;</div>
           -> {{title}} </div>
        </h2>
        <p>

          {{> postItemPostPage}}

        </p>
  
        </div><!--/right-->
  	</div><!--/row-->
</div><!--/container-->

</template>

<!-- do something with 'if user then edit this post' -->