/*For the triangle on sign in box*/
.dropdown-menu-custom:before {
   position: absolute;
   top: -7px;
   left: 9px;
   display: inline-block;
   content: '';
}

.dropdown-menu-custom:after {
  position: absolute;
  top: -12px;
  left: 10px;
  display: inline-block;
  border-right: 13px solid transparent;
  border-bottom: 17px solid rgba(255,255,255,0.97);
  border-left: 13px solid transparent;
  content: '';
}

.dropdown-menu-custom::after, .dropdown-menu.pull-right:after {
    right: 32px;
    left: auto;
}

/* GLOBALS */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfixSmaller {
    margin: 0px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.dropdown-menu-custom {
    border: none;
    background-color: transparent;
    top: 90%;
}

.loginEmail {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* Demo 2 */

.form-2 {
    /* Size and position */
    width: 290px;
    padding: 15px 15px 0px 15px;
    position: relative;

    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.2), 
    0 1px 3px rgba(0,0,0,0.2), 
    0 0 0 5px rgba(255,255,255,0.4);
}

.form-2 h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.form-2 h1 .log-in,
.form-2 h1 .sign-up {
    display: inline-block;
    text-transform: uppercase;
}

.form-2 h1 .log-in {
    color: #6c6763;
    padding-right: 2px;
}

.form-2 h1 .sign-up {
    color: #ffb347;
    padding-left: 2px;
}

.form-2 .float {
    width: 100%;
    float: left;
    border-top: 1px solid rgba(255,255,255,1);
}

.form-2 .float:last-of-type {
    padding-left: 5px;
}

.form-2 label {
    display: block;    
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.form-2 label i {
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}

.form-2 input[type=text],
.form-2 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-2 input[type=text]:hover,
.form-2 input[type=password]:hover {
    border-color: #CCC;
}

.form-2 label:hover ~ input {
    border-color: #CCC;
}

.form-2 input[type=text]:focus,
.form-2 input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.form-2 input[type=submit],
.form-2 .log-twitter {
    /* Size and position */
    width: 49%;
    height: 38px;
    float: left;
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.form-2 input[type=submit] {
    background: #fbd568; /* Fallback */
    background: -moz-linear-gradient(rgb(255, 255, 255), rgb(254,209,54));
    background: -ms-linear-gradient(rgb(255, 255, 255), rgb(254,209,54));
    background: -o-linear-gradient(rgb(255, 255, 255), rgb(254,209,54));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 255)), rgb(254,209,54));
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(254,209,54));
    background: linear-gradient(rgb(255, 255, 255), rgb(254,209,54));
    border: 1px solid rgb(254,209,54);
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}


.form-2 input[type=submit]:hover,
.form-2 .log-twitter:hover {
    box-shadow: 
    inset 0 1px rgba(255,255,255,0.3), 
    inset 0 20px 40px rgba(255,255,255,0.15);
}

.form-2 input[type=submit]:active,
.form-2 .log-twitter:active{
    top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .form-2 input[type=submit]:hover {
    background: #ffb347;
}

.no-boxshadow .form-2 .log-twitter:hover {
    background: #2a8ac4;
}

.form-2 p:last-of-type {
    clear: both;    
}

.form-2 .opt {
    text-align: left;
    margin-right: 3px;
}

.form-2 label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}

.form-2 input[type=checkbox] {
    vertical-align: middle;
    margin: -1px 5px 0 1px;
}

#forgotPassword {
    margin-right: 15px;
    font-size: 11px;
}

@media(max-width: 767px) {
 .dropdown-menu-custom .dropdown-menu {
    right: auto;
}
.dropdown-menu-custom::after, .dropdown-menu.pull-right:after {
    right: 232px;
    /*left: auto;*/
}
}

.userNav {
    width: 290px;
    padding: 15px;
    position: relative;
    background: #fffaf6;
    border-radius: 4px;    
    text-transform: none;
    outline: none;
    overflow: hidden;
    right: 0;
    top: 90%;
    -webkit-animation: userNav .2s;
    animation: userNav .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text;
}

.notification {
    color: black;
    text-transform: none;
    margin-top: 8px;
    margin-bottom: 8px; 
    display: inline;
}

.notification:hover {
    color: rgb(75,75,75); 
}

.noNew {
 margin-top: 8px;
 margin-bottom: 8px;    
}
.loginFooter {
    text-transform: none;
    border-top: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    padding: 10px 0;
    width: 100%;
    display: table;
    display: -webkit-inline-box;
}

#login-buttons-logout {
    color: black;
    text-transform: none;
    margin-left: 15px;
    margin-right: 37%;
    margin-top: 8px;
}
.userNavFooter {
    border-top: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    padding: 10px 0px 0px 0px;
    margin-top: 10px;
    width: 100%;
    display: -webkit-inline-box;
}


.alertLogin {
    text-transform: none;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    width: 90%;
    margin-left: 15px;
}

