	.loadSearch {
		margin-left: 15px;
		color: white;
		font-size: 1.2em;
	}

	/* Overlay style */
	.overlay {
		z-index: 9999;
		position: fixed;
		width: 95%;
		height: 93%;
		top: 3.5%;
		left: 2.5%;
		overflow: scroll;
		opacity: 1;
		background-clip: padding-box;
		border: 1px solid #999;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: 3px;
		-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		background-color: rgb(197,197,200);
		background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(255,255,230)), to(rgb(197,197,200)));
		background-image: -webkit-radial-gradient(50% 50%, rgb(255,255,230), rgb(197,197,200));
		background-image: -moz-radial-gradient(50% 50%, rgb(255,255,230), rgb(197,197,200));
		background-image: -ms-radial-gradient(50% 50%, rgb(255,255,230), rgb(197,197,200));
		background-image: radial-gradient(50% 50%, rgb(255,255,230), rgb(197,197,200));
		background-repeat: no-repeat;
	}

	/* Overlay closing cross */
	.overlay .overlay-close {
		width: 80px;
		height: 80px;
		position: absolute;
		right: 20px;
		top: 20px;
		overflow: hidden;
		border: none;
		background: url("resources/cross.png") no-repeat center center;
		text-indent: 200%;
		color: transparent;
		outline: none;
		z-index: 100;
	}

	
	/* Effects */
	.overlay-corner {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translateY(-50px) translateX(-50px);
		transform: translateY(-50px) translateX(-50px);
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s, visibility 0s 0.5s;
		transition: opacity 0.5s, transform 0.5s, visibility 0s 0.5s;
	}

	.overlay-corner.open {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translateY(0%);
		transform: translateY(0%);
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
		transition: opacity 0.5s, transform 0.5s;
	}

	@media screen and (max-height: 30.5em) {
		.overlay nav {
			height: 70%;
			font-size: 34px;
		}
		.overlay ul li {
			min-height: 34px;
		}
	}

	.searchTopMargin {
		text-align: center;
		display: -webkit-inline-box;
		margin-top: 12px;
	}

	.centerSearchContainer{
		text-align: center;
		margin-top: 10%;
		padding-right: 25px;
	}

	.searchListings{
		font-size: 20px;
		/*since the search bar is padded*/
		margin-left: 25px;
	}
	
	#srch-termModal {
		width: 100%;
		border: none;
		letter-spacing: 1px;
		padding-left: 5px;
		outline: none;
		font-size: 25px;
		margin-left: 5px;
		padding: 0px;
	    padding-left: 4px;
	    padding-top: 3px;
	    padding-bottom: 3px;
		background-color: white;
        z-index: 10;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	    -o-border-radius: 2px;
	    border-radius: 2px;
	    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 

	}

	.bottomSearch {
		vertical-align: text-bottom;
	}

	/*  SECTIONS  */
	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float: left;
	}
	.col:first-child { margin-left: 0; }


	/*  GROUPING  */
	.group:before,
	.group:after {
		content:"";
		display:table;
	}
	.group:after {
		clear:both;
	}
	.group {
		zoom:1; /* For IE 6/7 */
	}


	/*  GRID OF TWO   ============================================================================= */

	.span_2_of_2 {
		margin-top: 4%;
		width: 100%;
	}

	.span_1_of_2 {
		width: 49.2%;
	}

	/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

	@media only screen and (max-width: 480px) {
		.span_2_of_2 {
			width: 100%; 
		}
		.span_1_of_2 {
			width: 100%; 
		}
	}

	/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

	@media only screen and (max-width: 480px) {
		.col { 
			margin: 1% 0 1% 0%;
		}
	}

	.searchSpacing {
		margin: 10px;
		overflow: hidden;
		white-space: nowrap;
		background-color: white;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		padding: 0px;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	}

	.searchContent {
		display: flex;
		overflow-x: auto;
		margin-right: 8px;
	}

	.bodySearchSpacing {
		margin-top: 15px;
	}

	.searchDescription{
		margin-left: 8px;
		font-size: 18px;
		margin-top: 18px;
	}
	.searchTitle {
		letter-spacing: 1px;
		margin-top: 15px;
		color: rgb(64,64,64);
	}
	.searchTitle:hover {
		font-weight: 400px;
		color: black;
	}

	.iconSearch{
		margin-top: 10px;
		margin-right: 9px;
	}

	.postContent{
		display: -webkit-inline-box;
	}

	@-moz-document url-prefix() {
		.date {
			padding: 16px 0 0 0;
		}
		.date  span {
			padding: 9px 0 3px 0;
		}
	}

	.date span #month {
	font-size: 12px; 
	color: rgb(12, 81, 145); 
	display: block;
	padding: 0px 2px 0px 5px;
   }
.date p span {
	font-family: Helvetica Neue; 
	font-size: 22px; text-align: center; color: #9e9e9e; 
	line-height: 1.2;
  }

.date {
	display: inline-table;
	text-align: center;
	width: 35px; 
	margin-left: 2px;
	margin-top: 4px;
	margin-right: 7px;
}

.overflow {
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
	margin-right: 5px;
}

.loadMoreSearchContainer {
	text-align: center;
	margin-bottom: 22px;
	margin-top: 15px;
}

.loadMoreSearch {
    
}

.noResults {
	text-align: center;
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}