/* POST PAGE */
.img-thumbnail {
    border: none;
    max-height: 150px;

}
.divTextPost {
    padding-top: 0px;
}


.thumbnail {
    max-height: 150px;
}

@media (min-width: 998px) {
.col-lg-8 {
width: 66.66666667%;
}
}

@media (min-width: 998px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, /*.col-lg-12*/ {
float: left;
}
}

.carouselPost {
    height: 500px;
}
.text-info {
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    font-size: 18px;

}
.dottedDragDropDiv {
    border: 2px dashed gray;
    background-color: rgb(250,250,250);

}
.dragDropDiv {
    padding-left: 0px;
    padding-right: 0px;
}
 .selected img {
    opacity:0.5;
    }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-postPage > .item > img, .carousel-postPage > .item > a > img {
display: block;
width: 100% \9;
max-width: 100%;

height: inherit;
margin-left: auto;
margin-right: auto;
max-height: 150px;
}
/*.carouselMain {
display: block;
width: 100% \9;
max-width: 100%;
height: auto;
min-height: 100%;
}*/

.containerPostPage {
    margin-top: 30px;
}
.contactDiv {
    text-align: center;
}
.contactName {
    position:relative;
    margin-right: -7px;
    padding: 10px 20px 10px 20px;
    background-color: white;
   border: none;
    /*border-width: 1px;
    border-color: rgb(230,230,230);*/
    font-size: 15px;
}

.contactName:hover {
    z-index: 10;
    /*border-color: black;*/
}

/* LISTING PAGE */
.leftBar {
    background-color: rgba(0, 0, 0, 0.05);
}
/*rgba(0, 0, 0, 0.05);*/

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin-left: 23px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 23px; /*Width of left column*/
margin-left: -100%;
margin-top: 5px;
}



@media (max-width: 998px) { 
    #contentcolumn{
margin-left: 50%; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
float: right;
width: 50%; /*Width of left column*/
margin-right: 20px;
/*margin-left: -100%;*/
margin-top: 5px;
}
}

.glyphicon {
    top: 0px;
    line-height: 0;
}
.glyphicon-search {
    font-size: 23px;
    display: inline;
    vertical-align: middle;
    
}

.searchListings {
    font-size: 20px;
    border: none;
    box-shadow: none;
    background-color: transparent;

}

.searchListings:focus {
    font-size: 20px;
    border: none;
    box-shadow: none;
    background-color: transparent;

}

/*@media (min-width: 998px) {
.searchListings {
    max-width: 92%;
    margin-left: 0px;

}
}*/
/*@media (min-width: 768px) { .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
    width:190px;
}
}*/
.navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.listingPageContainer {
    margin-top: 80px;
}

#LI_1 {
    list-style: none;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: black;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */ /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    /* adjust as needed, taken from bootstrap.css */
}



.panel-group .panel + .panel {
    margin-top: 0px;

}
.panel-group .panel {
    border-radius: 0px;
}

/* SIGN UP MODAL */
.modal-footer {
    padding: 10px;
}

/*.col-md-4 {
    width:auto;
}*/

.modal {
    margin-right: auto;
    margin-left: auto;
}

.modal-body {
    padding:0;

}

.containerListings {
    /*background-color: #edefed;*/
}

.modal-dialog {
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
}
.modal-content{
    background-color: rgba(255,255,255,.95);
    max-width: 325px;
}


/* POST PAGE */ 

.rightCaret {
    font-size: 40px;
    color: gray;
}

.minWidthFix {
    min-width: 825px;
}
#rightbar {
    margin-left: auto;
    margin-right: auto;
    width: 780px;
}
.continue {
    margin-top: 30px;
    margin-left: 320px;
}

.descDiv {
    margin-left: -20px;
}

.textArea {
    display: inline-flex;
}

.titleDiv {
    margin-left: 2px;
}
.name {
    margin-right: 38px;
}
.title {
    margin-right: 75px;
}
.labelSubmit {
    color: black;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 34px;
    margin-right: 13px;
}

#content{
    position: relative;
    width: 100%;
    top: 100px;
    bottom: 100px;

}

.replyToEmail {
    margin-right: 374px;
}

.replyToName {
    margin-right: 377px;
}

.description {
    width: 300px !important;
    margin-right: 351px;

    
}

.inputPost {
    height: 40px;
    width:300px;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: rgb(230,230,230);
    margin-left: 0px;

}
.descriptionInput {
    width: 645px;
    text-align: left;
    height: 60px;
    resize: vertical;
}
.replyName {
    width: 190px;
}
.replyEmail {
    margin-left: 10px;
    width: 260px;
}

.price {
    width: 125px;
    margin-right: 78px;
    margin-left: 10px;
}
.multi-column {
    padding:0px;
}
.container-fluid {
    padding:0px;
}
.dropdown-menu.multi-column {
    width: 422px;
}
 
.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}
.dropdown-menu {
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
}
#listingDropdown {
    color: black;

}

#listingDropdown:hover {
    text-decoration: none;
    
}
.dropdown {
    list-style: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.buttonListings {
    position:relative;
    margin-right: -7px;
    padding: 20px 40px 20px 40px;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(230,230,230);
    font-size: 15px;
}

.buttonListings:hover {
    z-index: 10;
    border-color: black;
}

.div2 {
    padding-right: 20px;
    display:table-cell;
}


.div3 {
    display: grid;
    margin-top: 30px;
    font-size: 20px;
    min-width: 600px;
}

.inputPost {
    font-size: 14px;
}


.titleContainer {
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(230,230,230);
    padding: 13px 18px 13px 18px;
}


.titlePost {
    margin-top: 48px;
    padding-top: 55px;
    padding-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 1px;
    border-color: rgb(230,230,230);

}

.mainPostPage {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f7f7f7;
    margin-left: auto;
    margin-right: auto;
    min-width: 825px;
}

.postPageTitle {
    text-align: center;
}

.control-group {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* END OF POST PAGE */




.container {
    width: auto;
    margin-left: 0px;

}

#postListing {
    width: auto;
}

.main {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

/* SIGN IN/ SIGN UP SECTION */
#signInTitle {
    text-transform: none;
}

.entry {
    background-color: transparent;
}

/* BODY */
body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    min-width: 800px;
}

.background {
    min-height: 100%;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: black;
}

a:hover,
a:focus,
a:active,
a.active {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}
.logo {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
    font-size: 2em;
}
.navbar-default {
    margin-bottom: -51px;
    padding: 0px 0;
    border-color: transparent;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fed136;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

.navbar-brand {
    float: left;
    display: grid;
}
.navbar-default {
        margin-bottom: -50px;
        padding: 0px 0;
        border: 0;
        background-color: transparent;/*rgba(0,0,0,.5);*/
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

.navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

}

.navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
}

.navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
}

.navbar-default.navbar-shrink .navbar-brand {
        font-size: 2em;
}

@media (min-width: 300px) {
.navbar-header {
        float: left;
}
.navbar-toggle {
    display: none;
}
.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-nav {
    float: right !important;
    margin: 0;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
}


section {
    padding: 50px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 50px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}


/*HOME PAGE (I think?)========================================*/
.page-scroll:hover {
    cursor: pointer;
}


section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
}

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  /*background-color: #777;*/
}
.carouselPost {
    height: 400px;
}
.carouselPost .item {
  height: 400px;
  /*background-color: #777;*/
}
.carousel-inner > .item > img {
 
  top: 0;
  left: 0;
  
}

/* Styling for post page===========================================*/
#sidebar {
  background-color: rgb(239,239,239);
}
@media(max-width: 998px) {
  #sidebar {
    text-align: center;
  }
  .sidebarHeader {
    text-align: center;
  }
}

.sidebarHeader {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 40px;
    text-transform: uppercase;
    font: normal normal bold 20px/40px traditionellsans, Helvetica, Arial, sans-serif;
    margin: 0px;
    
} 
@media (max-width: 998px) {
  .sidebarHeader {
    color: rgb(26,41,119);
  }
}

.listingPageHeader {
  display: -webkit-inline-box;
  color: rgb(26,41,119);
  border-bottom: 0px;
  border-bottom-style: inset;
}

.smallListings {
font-size: 16px;
padding-top: 12px;
}

.submitPost {
  list-style: none;
  text-align: right;
  padding-right: 15px;
}

.submitPost a {
  color: white;
  text-decoration: none;
}

.glyphicon-plus {
  color: rgb(26,41,119);
}

.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}

.load-more {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    cursor: pointer;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }


.grid-block, .main, .post, .comments li, .comment-form {
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
  
.post {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1;
  box-shadow: none;
   }
  .post:before, .post:after {
    content: "";
    display: table; }
  .post:after {
    clear: both; }
  .post.invisible {
    opacity: 0; }
  .post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .post.animate{
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .post .post-content {
    float: left; }
    .post .post-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .post .post-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .post .post-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .post .post-content p {
      margin: 0; }
  .post .discuss {
    display: block;
    float: right;
    margin-top: 7px; }



