#customModal {
	max-width: 100%;
	margin: 0px;
	margin-left: 5%;
	margin-top: 2%;
	height: 90%;
	width: 90%;

	opacity: 1;
	background-color: rgba(241, 241, 241, 0.97);
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 3px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

@media (min-width: 768px) {
	#customModal  {
		margin: 0px;
		margin-left: 5%;
		margin-top: 2%;
		height: 90%;
		width: 90%;
	}
}

.closingSearch{
	margin-right: 25px;
	font-size: 35px;
    display: table-caption;
}

.closingSearchAlign{
	text-align: -webkit-right;
    margin: 0px 15px;
}

.esc {
	margin-left: -7px;
	font-size: 16px;
	position: fixed;
}

.searchTopMargin {
   text-align: center;
   margin-top: 9%;
   display: -webkit-inline-box;
}

.centerSearchContainer{
	text-align: center;
}

#srch-termModal {
	background-color: rgba(241, 241, 241, 0.97);
	border: none;
	opacity: 1.1;
	outline: none;
	font-size: 25px;
	margin-left: 5px;
}

.bottomSearch {
	vertical-align: text-bottom;
}