	#loadSearch{
		margin-left: 15px;
		color: white;
		font-size: 1.2em;
	}

	#customModal {
		font-family: sans-serif,"Helvetica Neue",Helvetica;
		max-width: 100%;
		margin: 0px;
		margin-left: 5%;
		margin-top: 2%;
		height: 90%;
		width: 90%;
		overflow: scroll;
		opacity: 1;
		background-clip: padding-box;
		border: 1px solid #999;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: 3px;
		-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
		box-shadow: 0 3px 9px rgba(0, 0, 0, .5);

		background-color: rgb(197,197,200);
		background-image: -webkit-gradient(radial, 50% 50%,200,50% 50%,20, from(rgb(255,255,230)), to(rgb(197,197,200)));
		background-image: -webkit-radial-gradient(50% 50%, rgb(255,255,230), rgb(197,197,200));
		background-image: -moz-radial-gradient(50% 50%, rgb(255,255,230), rgb(197,197,200));
		background-image: -ms-radial-gradient(50% 50%, rgb(255,255,230), rgb(197,197,200));
		background-image: radial-gradient(50% 50%, rgb(255,255,230), rgb(197,197,200));
		background-repeat: no-repeat;
	}

	@media (min-width: 768px) {
		#customModal  {
			margin: 0px;
			margin-left: 5%;
			margin-top: 2%;
			height: 90%;
			width: 90%;
		}
	}

	.closingSearch{
		margin-right: 25px;
		font-size: 35px;
		display: table-caption;
	}

	.closingSearchAlign{
		text-align: -webkit-right;
		margin: 0px 15px;
	}

	.esc {
		margin-left: -4px;
		font-size: 16px;
		position: fixed;
	}

	.searchTopMargin {
		text-align: center;
		display: -webkit-inline-box;
		margin-top: 12px;
	}

	.centerSearchContainer{
		text-align: center;
		margin-top: 3%;
		padding-right: 25px;
	}

	.searchListings{
		font-size: 20px;
        /*since the search bar is padded*/
		margin-left: 25px;
	}

	#srch-termModal {
		width: 100%;
		border: none;
		letter-spacing: 1px;
		padding-left: 5px;
		outline: none;
		font-size: 25px;
		margin-left: 5px;
		padding: 0px;
	    padding-left: 4px;
	    padding-top: 3px;
	    padding-bottom: 3px;
		background-color: white;
        z-index: 10;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	    -o-border-radius: 2px;
	    border-radius: 2px;
	    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
	}

	.bottomSearch {
		vertical-align: text-bottom;
	}

.postSearchSearch {
	  
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  -ms-border-radius: 3px;
	  -o-border-radius: 3px;
	  border-radius: 3px;
	  padding: 0px;
	  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }
	  
	.postsSearch {
	  /* For modern browsers */
	  /* For IE 6/7 (trigger hasLayout) */
	  *zoom: 1;
	  margin-right: 15px;
	  opacity: .9;
	  }
	  .postSearch:before, .postSearch:after {
	    content: "";
	    display: table; }
	  .postSearch:after {
	    clear: both; }
	  .postSearch.invisible {
	    opacity: 0; }
	  .postSearch.instant {
	    -webkit-transition: none;
	    -moz-transition: none;
	    -o-transition: none;
	    transition: none; }
	  .postSearch.animate{
	    -webkit-transition: all 300ms 0ms;
	    -webkit-transition-delay: ease-in;
	    -moz-transition: all 300ms 0ms ease-in;
	    -o-transition: all 300ms 0ms ease-in;
	    transition: all 300ms 0ms ease-in; }
	  .postSearch .postSearch-content {
	    float: left; }
	    .postSearch .postSearch-content h3 {
	      margin: 0;
	      line-height: 1.4;
	      font-size: 18px; }
	      .postSearch .postSearch-content h3 a {
	        display: inline-block;
	        margin-right: 5px; }
	      .postSearch .postSearch-content h3 span {
	        font-weight: normal;
	        font-size: 14px;
	        display: inline-block;
	        color: #aaaaaa; }
	    .postSearch .postSearch-content p {
	      margin: 0; }

	

	/*  SECTIONS  */
	.section {
		clear: both;
		padding: 0px;
		margin: 0px;
		margin-right: 1.5%;
	}

	/*  COLUMN SETUP  */
	.col {
		display: block;
		float: left;
	}
	.col:first-child { margin-left: 0; }


	/*  GROUPING  */
	.group:before,
	.group:after {
		content:"";
		display:table;
	}
	.group:after {
		clear:both;
	}
	.group {
		zoom:1; /* For IE 6/7 */
	}


	/*  GRID OF TWO   ============================================================================= */

	.span_2_of_2 {
		margin-top: 4%;
		width: 100%;
	}

	.span_1_of_2 {
		width: 49.2%;
	}

	/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

	@media only screen and (max-width: 480px) {
		.span_2_of_2 {
			width: 100%; 
		}
		.span_1_of_2 {
			width: 100%; 
		}
	}

	/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

	@media only screen and (max-width: 480px) {
		.col { 
			margin: 1% 0 1% 0%;
		}
	}

	.searchSpacing {
		margin: 10px;
		overflow: hidden;
		white-space: nowrap;
		background-color: white;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		padding: 0px;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	}

	.searchContent {
		display: flex;
		overflow-x: auto;
		margin-right: 8px;
	}

	.searchDescription{
	   margin-left: 8px;
       font-size: 18px;
       margin-top: 18px;
	}
	.searchTitle {
		letter-spacing: 1px;
		margin-top: 15px;
		color: rgb(64,64,64);
	}
	.searchTitle:hover {
        font-weight: 400px;
        color: black;
	}

    .iconSearch{
        margin-top: 10px;
        margin-right: 9px;
    }

    .postContent{
    	display: -webkit-inline-box;
    }

@-moz-document url-prefix() {
    .date {
        padding: 16px 0 0 0;
    }
    .date  span {
    	padding: 9px 0 3px 0;
    }
}

    .date span #month {
	/*background: rgb(12, 81, 145); 
	background: linear-gradient(top, rgb(12, 81, 145) 0%, rgb(173, 175, 194) 100%);
	background: -moz-linear-gradient(top, rgb(12, 81, 145) 0%, rgb(173, 175, 194) 100%);
	background: -webkit-linear-gradient(top, rgb(12, 81, 145) 0%, rgb(173, 175, 194) 100%);*/
	font-size: 12px; 
	/*font-weight: bold; */
	color: rgb(12, 81, 145); 
	/*text-transform: uppercase; 	*/
	display: block;
/*	border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;*/
	padding: 0px 2px 0px 5px;
}
.date p span {
	font-family: Helvetica Neue; 
	font-size: 22px; text-align: center; color: #9e9e9e; 
	line-height: 1.2;
}

.date {
	display: inline-table;
	text-align: center;
	width: 35px; 
	margin-left: 2px;
    margin-top: 4px;
	/*height: 160px; */
	margin-right: 7px;
	/*background: #fcfcfc; 
	background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); */
	/*border: 1px solid #d2d2d2;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);*/
}

.overflow{
	text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    margin-right: 5px;
}

.noResults {
	text-align: center;
	font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

