<template name="listingPage">

  <!-- {{> listingPageHeader}} -->

  <!--main-->
  <div class="container listingPageContainer">
   <div class="row">

    {{>leftBarListingPage}}

    <!--right-->
    <div class="col-md-9">
      <h2 id="sec1"> 
        <div class="listingPageHeader">
         <div style= "text-transform:capitalize">Latest Listings in</div> 
         <div class="smallListings">&nbsp;</div>
         {{title}} </div> 
       </h2>

      
      <p>
         <div class="posts">
         {{> postsList}}
        </div>
      </p>
      


    </div><!--/right-->
  </div><!--/row-->
</div><!--/container-->


</template>