<template name = "footer">
	<div class = "footer_container">
	<div class = "footer_title">
		Help/FAQ
	</div>
	<div class="section group">
		<div class="col span_1_of_2">
			<ul id="footer_links">
				<li>
					<a id="links" href="#">How do I use this site?</a>
				</li>
				<li>
					<a id="links" href="#">Subscribing to searches</a>
				</li>
				<li>
					<a id="links" href="#">Advanced search tips</a>
				</li>
			</ul>
		</div>
		<div class="col span_1_of_2">
			<ul id="footer_links">
				<li>
					<a id="links" href="#">Where are my archived posts?</a>
				</li>
				<li>
					<a id="links" href="#">Flagging inappropriate content</a>
				</li>
				<li>
					<a id="links" href="#">Contact us/Get communify at your school!</a>
				</li>
			</ul>
		</div>
		
	</div>
	</div>
		

</template>