<template name ="search">
	{{> leaderboard}}
</template>

<template name="leaderboard">
    <div class="search-input">
        {{> esInput index="postsSearch" id="search" placeholder=" Search listings" convertnumber=true }}
        <a class="fa fa-2x fa-search" style="color:black; background-color:gray"></a>
    </div>    

    {{#ifEsIsSearching index="postsSearch" id="search" logic="OR" }}
        <div>Searching...</div>
    {{/ifEsIsSearching}}

    <div class="leaderboard">
        {{#if inputIsNotEmpty}}
            {{#esEach index="postsSearch" id="search" options=esOptions}}
                {{> player}}
            {{/esEach}}

            {{#ifEsHasNoResults index="postsSearch" id="search" logic="OR" }}
                No results found!
            {{/ifEsHasNoResults}}
        {{/if}}
    </div>

</template>


<template name="player">
    <p style="cursor: pointer"><strong>{{title}}</strong></p>
    {{description}}
</template>
