<template name = "signUp">
	<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            
            <form action="#" method="post" class="form" role="form">
            <input class="form-control" name="youremail" placeholder="School Email" type="email" />
            <input class="form-control" name="password" placeholder="Password" type="password" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
    </div>
</div>
</template>